.dots1 {
    width: 120px;
    height: auto;
}

.buttons-container {
    margin-top: 50px;
}

.language-button {
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    background-color: transparent;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.language-button:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text);
    border: 2px solid var(--btn-hover-border);
}

.language-button:active {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    transform: scale(0.95);
}