.background-waiting {
    background:
        linear-gradient(to top right,
            rgba(111, 54, 235, 0.1) 10%,
            rgba(111, 54, 235, 0) 20%,
            rgba(111, 54, 235, 0) 100%),
        linear-gradient(to bottom left,
            rgba(111, 54, 235, 0.1) 10%,
            rgba(111, 54, 235, 0) 20%,
            rgba(111, 54, 235, 0) 100%),
        var(--background-color);
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.text-container-loading {
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    display: flex;
    gap: 4px;
    line-height: 1.2;
    padding-left: 2rem;
    padding-right: 2rem;
}

.feather-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather {
    width: 120px;
    height: auto;
    animation: writing-motion 1.5s ease-in-out infinite;
}

@keyframes writing-motion {
    0% {
        transform: rotate(0deg) translateY(0);
        /* Posición inicial */
    }

    25% {
        transform: rotate(-2deg) translateY(-2px);
    }

    50% {
        transform: rotate(0deg) translateY(0);
    }

    75% {
        transform: rotate(2deg) translateY(2px);
    }

    100% {
        transform: rotate(0deg) translateY(0);
    }
}