/* Botones de horario */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.time-button {
    width: clamp(150px, 80%, 150px);
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 500;
    color: var(--woman-dark-purple);
    border: 2px solid var(--woman-dark-purple);
    border-radius: 20px;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.time-button:hover {
    background-color: var(--button-hover);
    color: #000000;
    border: 2px solid #000000;
}

.time-button:active {
    background-color: #000000;
    color: #ffffff;
    transform: scale(0.95);
}

/* Nota al final */
.note-container {
    font-size: 14px;
    color: var(--woman-light-purple);
    text-align: center;
    font-style: italic;
    bottom: 10px;
}

/* Fondo mujer */
.background-woman {
    background:
        /* Degradado púrpura de arriba hacia abajo */
        linear-gradient(to top,
            rgba(111, 54, 235, 0.1) 0.5%,
            rgba(111, 54, 235, 0) 20%,
            rgba(111, 54, 235, 0) 100%),
        /* Color de fondo base */
        var(--background-color);
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

/* Fondo hombre */
.background-man {
    background:
        /* Degradado púrpura de arriba hacia abajo */
        linear-gradient(to top,
            rgba(19, 142, 173, 0.1) 0.5%,
            rgba(54, 235, 199, 0) 20%,
            rgba(13, 189, 160, 0) 100%),
        /* Color de fondo base */
        var(--background-color);
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}