* {
  font-family: 'Montserrat' !important;
}

/* ion-button {
  --color: #010326 !important;
  --border-radius: 25px !important;
  --border-color: #010326 !important;
  --border-style: solid !important;
  --border-width: 1px !important;
  text-transform: none !important;
  font-size: .9rem !important;
} */

