/* Fondo con ambos degradados */
.background {
    background:
        /* Degradado azul de abajo hacia arriba */
        linear-gradient(to top,
            var(--g-man-s) 1%,
            var(--g-man-z) 20%,
            var(--g-man-z) 100%),
        /* Degradado púrpura de arriba hacia abajo */
        linear-gradient(to bottom,
            var(--g-woman-s) 0.5%,
            var(--g-woman-z) 20%,
            var(--g-woman-z) 100%),
        /* Color de fondo base */
        var(--background-color);
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    padding: 3rem;
}

.description {
    color: var(--text-muted);
    max-width: 600px;
    line-height: 1.5;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 18px;
}